.header {
  height: 300px;
  width: 100%;
  background: #efefef;
}

.nav {
  border: 1px solid #333;
  height: 100px;
  position: fixed;
  width: 30%;
}

.body {
  height: 1000px;
  width: 100%;
}

.footer {
  height: 900px;
  width: 100%;
  background: #efefef;
}
